{:source-paths ["src"]

 :dependencies [[reagent  "RELEASE"]
                [re-frame "RELEASE"]]

 :nrepl {:port 3333}

 :builds {:app {:target     :browser
                :output-dir "resources/public/js"
                :asset-path "public/js"

                :modules  {:main {:init-fn app.core/mount}}
                :devtools {:http-root "resources/public"
                           :http-port 3000}}

          :prod {:target     :browser
                 :output-dir "resources/public/js"
                 :asset-path "/js"
                 :modules    {:main
                              {:entries [app.core]}}}}}
