/*
  Media
*/

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .m-none {
        display: none !important;
    }
    .m-block {
        display: block !important;
    }
    .m-between {
        display: flex;
        justify-content: space-between !important;
    }
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

body {
    margin: 0;
    font-size: 1rem;
    font-family: GothamPro;
}

/*
  Aliases
*/

.pointer {
    cursor: pointer;
}

.none {
    display: none;
}

.between {
    display: flex;
    justify-content: space-between;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.margin-auto {
    margin: auto;
}

.rounded {
    border-radius: 2rem;
}

.w-50 {
    width: 50%;
}


/*
  Typography
 */

h1 {
    font-size: 42px;
}

h1,
b {
    font-family: GothamPro-Bold;
    font-weight: 900;
}

h3 {
    font-family: GothamPro-Bold;
    font-weight: 400;
}

a {
    color: #333;
    text-decoration: none;
}

.muted {
    color: #999999;
}

/* Position */

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    padding-right: 1rem;
    padding-left: 1rem;
    max-width: 100%;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.space {
    padding-right: 5px;
}

.py {
    padding: 12px 0px 12px 0px;
}


.my {
    margin: 12px 0px 12px 0px;
}

.pr {
    padding-right: 12px;
}

.small-icon {
    height: 10px;
}

.icon {
    height: 22px;
}

/* Form */

form input {
    padding: 5px 0px 5px 0px;
    margin-bottom: 24px;
}

form label {
    font-size: 14px;
    text-transform: uppercase;
    color: #999999;
}

form .input-icon {
    position: relative;
}

form .input-icon img {
    position: absolute;
    padding-top: 5px;
    height: 22px;
    top: 0;
    right: 0;
}

form input {
    border: none;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

form input:focus {
    border-bottom: 1px solid #333;
}

.border-bottom {
    border-bottom: 1px solid gray;
}

form .btn {
    border-radius: 10px;
    margin: 24px 24px;
    padding: 12px 46px 12px 46px;
}

button.black {
    color: white;
    border-radius: 12px;
    background: #14121f;
}


/*
  Components
*/

/* Navbar */
nav {
    position: relative;
    padding: 1rem;
}

nav a:hover {
    color: black;
}

.btn {
    background: none;
    border: none;
    padding: 12px 32px 12px 32px;
}


/* Card */

#card {
    margin-bottom: 2rem;
    max-height: 480px;
    max-width: 310px;
}

#card img {
    max-height: 360px;
    max-width: 270px;
}

#card .content {
    min-height: 42px;
}

#card .content .body {
    display: none;
}

#card:hover {
    box-shadow: 0px 0px 0px 2px #f0f0f0;
}

#card:hover .content .body{
    display: block;
}
